*{
    margin: 0;
    padding: 0;
    font-family:'Times New Roman', Times, serif;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-x: hidden;
}

.pagetitle{
    color: black;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

a{
    text-decoration: none;
    color: black;
    padding: 1vw;
}

.links{
    padding-top: 2vh;
}
.links a{
    margin-left: 1vw;
}

nav{
    width: 100vw;
    display: flex;
    background-color: rgb(255, 178, 214); /*this rgba is just #5ce1e6 with 0.5 opacity*/
    justify-content: space-around;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

section{
    display: flex;
    text-align: center;
    height: 120vh;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-around;
    align-items: center;
    flex-direction: column;
}

footer{
    width: 100vw;
    text-align: center;
    position: relative;
    bottom: 0vw;
    background-color: rgba(255, 202, 252, 0.993); /*this rgba is just #5ce1e6 with 0.5 opacity*/
}

.icon{
    background: url(media/images/sprite3.png) no-repeat;
    width: 66px;
    height: 66px;
    display: inline-block;
}

#fb{background-position: -439px -146px;}
#gmail{background-position: -365px -221px;}

/*Home*/

#slogan{
    transform: translateY(-60vh);
    text-align: center;
    order: 1;
    font-size: xx-large;
    font-weight: 700;
}

article{
    display: flex;
    align-content: space-around;
}


#article1home{
    background-color: #ffc3e1;
    padding: 5vh;
    margin: 5vh;
    order: 2;
    margin-right: 20vh;
    border-radius: 25px;
}

#article2home{
    background-color: #ffc6ee;
    padding: 5vh;
    padding-left: 10vw;
    padding-right:  10vw;
    margin: 5vh;
    order: 3;
    margin-left: 20vh;
    border-radius: 25px;
}

/*What We Do*/

.formatWWD{
    display: flex;
    flex-direction: column;
}

#article1wwd{
    text-align: left;
    background-color: #ffc4f0;
    padding: 5vh;
    margin: 5vh;
    order: 1;
    border-radius: 25px;
}

#article2wwd{
    text-align: left;
    background-color: #ff88c3;
    padding: 5vh;
    margin: 5vh;
    order: 2;
    border-radius: 25px;
}

#article3wwd{
    text-align: left;
    background-color: #ff75c6;
    padding: 5vh;
    margin: 5vh;
    order: 3;
    border-radius: 25px;

}

/*About us*/

.formatAU{
    display: flex;
    flex-direction: column;
}

#article1au{
    text-align: left;
    background-color: #ff88c3;
    padding: 5vh;
    margin: 5vh;
    order: 1;
    border-radius: 25px;

}

/*video*/

#video{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: fixed;
    bottom: 0;
    z-index: -5;
}

/*Mobile Compatibility*/
@media screen and (max-width: 600px){

    body{
        overflow-x: hidden;
    }

    section{
        height: 200vh;
    }

    nav{
        position: relative;
        background-color: #ff88c3
    }
    .pagetitle{
        padding: 1vw;
        color: black;
        transition: .5s;
    }
    .links{
        display: none;
        z-index: 1;
        position: absolute;
        background-color:  #ff88c3
        min-width: 100vw;
        box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.9);
        transition: .5s;
    }
    .links a{
        color: black;
        padding-top: 1vh;
        padding-bottom: 1vh;
        display: block;
        transition: .5s;
        margin-left: 0;
        padding-left: 1vh;
    }

    article p{
        font-size: 2vh;
    }

    article{
        display: flex;
        flex-direction: column;
        margin: 0;
    }


    #article1home{
        margin-left: 20vh;
        margin-bottom: 5vh;
    }

    #article2home{
        margin-right: 20vh;
        margin-top: 5vh;
    }

    #slogan{
        transform: translateY(-170vh);
        text-align: center;
        order: 1;
    }

    .links a:hover{background-color:  #ff88c3
    nav:hover .links{display: block; transition: .5s;}

}